@use "../../sass/variables" as *;

.home {

    &__products {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 130px 0px 130px;
        justify-content: center;
        // parece o padding, com o objetivo de dar espaçamento entre os cards
        gap: 6rem;
    }
}